<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de Empleados</span>
            <button
                type="button"
                class="btn btn-success btn-lg"
                routerLink="/createEmpleado"
                style="float: right;"
            >
                Agregar
            </button>
            <table class="table table-striped mt-5">
                <thead>
                    <tr>
                        <th>Documento</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Salario</th>
                        <th>Fecha de creacion</th>
                        <th>Fecha de actualizacion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-lg text-info" style="margin-right: 6px;"></i>
                            <i class="fa-solid fa-trash fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
